In [ ]:
a = 4
a

4

First, we set a = 4 to assign the number 4 to variable a.

Then, if we type 'a', it will print it.

In [ ]:
a = 4
b = 3
a
b

3

only prints the last one

If we want to print all of them one by one, we need to use the print() command.

In [ ]:
a = 4
b = 3
print(a)
print(b)

4
3

Writing the code into a cell isn't enough; you need to run it. Otherwise, Python won't recognize it. For example, if we used c = 7 in the first cell and didn't run it, and then used print(c) in the cell below, Python will throw an error message here.

In [ ]:
c = 7

In [ ]:
print(c)

7

The variables we assigned above were all numeric variables. If we click on them and wait, we'll see that they're int. This is the first variable type we learned about.

The second variable type we'll learn is **string**. We can create strings with single quotes ' ' or double quotes " ". Python doesn't distinguish between these. However, we can use single quotes as upper quotes inside double-quoted strings.

In [ ]:
d = 'Hello'
e = "Mike's favorite color is purple"

print(d, e)

Hello Mike's favorite color is purple

It doesn't make sense to use only letters when assigning variables. It's difficult to remember which variable does what. Therefore, it's important to assign a meaningful variable name.

You can use underscores when assigning a filter name, but no spaces or other characters.

The name can contain numbers, but it can't start with a number.

In [ ]:
filterRank = 1024
filter_Order = 100
data2plot = 2

# sign is used for comment

In [ ]:
# python will ignore this line

In [ ]:
filterOrder = 190 # You can also comment after the code.

Multiple assignment: Used to define multiple variables simultaneously, but not recommended. There is a high probability of confusion.

In [ ]:
f,g = 10, 20
print(f,g)

10 20

birçok variable atadık ancak bunların neler olduğunu haturlamak istiyorsan **%whos** komutunu kullan

In [ ]:
%whos

Variable      Type    Data/Info
-------------------------------
a             int     4
b             int     3
c             int     7
d             str     Hello
e             str     Mike's favorite color is purple
f             int     10
filterOrder   int     190
filterRank    int     1024
g             int     20

#Exercise:

1.   can you over-write a variable in the same type?
for example can you over-write a is equal to 49?
2.   can you over-write a variable using a different data type?