<a href="https://colab.research.google.com/github/unalhyt/Python-Course/blob/main/18_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# For Loops
# a way of repeating of a certain statement some number of times

for i in range(5):
    print(i) # repeats this function 5 times

0
1
2
3
4

In [ ]:
for j in range(4,10):
  print(j,j**2) # you can use j as a normal variable

4 16
5 25
6 36
7 49
8 64
9 81

In [ ]:
import numpy as np

In [ ]:
numbers = np.linspace(3, 17, 22)
numbers

array([ 3.        ,  3.66666667,  4.33333333,  5.        ,  5.66666667,
        6.33333333,  7.        ,  7.66666667,  8.33333333,  9.        ,
        9.66666667, 10.33333333, 11.        , 11.66666667, 12.33333333,
       13.        , 13.66666667, 14.33333333, 15.        , 15.66666667,
       16.33333333, 17.        ])

In [ ]:
for i in range(len(numbers)):
  x = numbers[i]
  print('Iteration ' + str(i+1) + ' has the value of ' + str(x))

Iteration 1 has the value of 3.0
Iteration 2 has the value of 3.6666666666666665
Iteration 3 has the value of 4.333333333333333
Iteration 4 has the value of 5.0
Iteration 5 has the value of 5.666666666666666
Iteration 6 has the value of 6.333333333333333
Iteration 7 has the value of 7.0
Iteration 8 has the value of 7.666666666666666
Iteration 9 has the value of 8.333333333333332
Iteration 10 has the value of 9.0
Iteration 11 has the value of 9.666666666666666
Iteration 12 has the value of 10.333333333333332
Iteration 13 has the value of 11.0
Iteration 14 has the value of 11.666666666666666
Iteration 15 has the value of 12.333333333333332
Iteration 16 has the value of 13.0
Iteration 17 has the value of 13.666666666666666
Iteration 18 has the value of 14.333333333333332
Iteration 19 has the value of 15.0
Iteration 20 has the value of 15.666666666666666
Iteration 21 has the value of 16.333333333333332
Iteration 22 has the value of 17.0

In [ ]:
# soft coding vs hard coding

# 100s of linse of code......

# and then you have a for loop in here

for i in range(100):
  pass # does nothing


# if you put 100 directly inside the loop is hard coding. We manually specify parameters. It can cause lots of mistakes
# if it is related a parameter before and you ut instead of 100 it will be soft coding
# avoid hard coding


# in soft coding

# first identify parameters like:

nIterations = 100

# 100s of linse of code......

for i in range(nIterations):
  pass

In [ ]:
# modulus operator: (%)
# remainder after division
7%2

1

In [ ]:
5%2 == 1

True

In [ ]:
# For-loop and if-else statements

for n in range(18):
  if n%2 == 0:
    print(n, 'is even number')
  else:
    print(n, 'is odd number')

0 is even number
1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number
11 is odd number
12 is even number
13 is odd number
14 is even number
15 is odd number
16 is even number
17 is odd number

In [ ]:
# Exercise:
# create a function that reports the Fibonacci series for n+3 numbers
# Explanation: The series starts with 0,1,1,....
# Every successive number is the sum of the last two numbers
# 0,1,1,2,3,5,8,13,...